.modal-footer .modal-resizer {
    background: url("../img/icon-resizer.png") left no-repeat;
    cursor: nwse-resize;
    width: 11px;
    height: 11px;
    position: absolute;
    right: 0;
    bottom: 0;
}