#wiki-list,
#wiki-history,
#wiki-attach {
	padding-left: 15px;
}

#wiki-history>.nav-list:empty:after {
    display: block;
    content: "Нет элементов для отображения";
}

#wiki-list>.nav-tabs {
	margin-bottom: 50px;
	position: relative;
}

#wiki-list {
	margin-bottom: 10px;
}

#wiki-attach {
	margin-bottom: 20px;
}

#wikiEditSource,
#wikiEditPreview {
	overflow-y: auto;
}

#wikiSaveBtn {
	margin-left: 
}

#wikiEditSource textarea {
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#wikiListSearch {
	position: absolute;
	bottom: -50px;
	left: 9px;
}

.wiki-hist-clear,
.wiki-create {
	margin-top: 8px;
}

.wiki-preview {
	margin-left: 30px;
}

.wiki-preview:before {
    display: block;
	position: fixed;
	margin-left: -15px;
	width: 2px;
	content: "";
	height: 100%;
	background-color: lightgray;
}

.wiki-hist-link,
.wiki-file-link,
.wiki-page-link {
	position: relative;
	overflow: hidden;
	width: 235px;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: 30px !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.wiki-hist-link>i,
.wiki-file-link>i,
.wiki-page-link>i {
	position: absolute;
}

.wiki-delete-btn {
	right: 0;
}

.wiki-fav-btn {
	right: 18px;
}

.nav-item.fav-true>a {
	background-color: #FEFFDF;
}

.nav-item.fav-true .wiki-fav-btn {
	background-position: -120px 0;
}

.nav-item.fav- .wiki-fav-btn,
.nav-item.fav-false .wiki-fav-btn {
	background-position: -144px 0;
}

.wiki-page-link>.wiki-edit-btn {
	right: 18px;
}

#wiki-attach input {
	margin-bottom: 3px;
}