#appHeader {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#appLeft {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    flex-basis: 100%;
}

#appBody {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    flex-basis: 100%;
}


#appFooter {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 22px;
    background-color: #f5f5f5;
    z-index: 1000;
}

/*body>.row-fluid {
	margin-top: 50px;
}*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #f3f3ee;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #cecece;
}